{#
/**
 * @file
 * Default theme implementation to display a mathematical parser.
 *
 * Available variables:
 * - tokens: the list of tokens of the current expression.
 *   - position: the position of the token in the expression
 *   - value: the symbol or the value of the token.
 * - result: the result of the expression.
 * - steps: The list of all the operations executed.
 *   - op1: the first operand
 *   - op2: the second operand
 *   - operator: the operator
 *   - result: result ID of the operation
 *   - result_value: result value of the operation
 * - animation: true/false if the animation is enabled or disabled.
 */
#}
{% set attribute = create_attribute() %}
{% set classes = [
     animation ? 'not-animated-yet',
     'mathd8-expression'
   ]
%}

<div{{ attribute.addClass(classes) }}>
  {% for token in tokens %}
    <span class="token token-{{ token.position }}">
      {{ token.value }}
    </span>
  {% endfor %}
  <span> = </span>

  <span>{{ result }}</span>

  <div class="steps">
    {% for step in steps %}
      <span
        class="step step-{{ step.result }}"
        data-op1="{{ step.op1 }}"
        data-op2="{{ step.op2 }}"
        data-operator="{{ step.operator }}"
        data-result="{{ step.result_value }}"
        data-result-id="{{ step.result }}">
      </span>
    {% endfor %}
  </div>
</div>